doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge")
        meta(name='viewport' content='width=device-width')
        link(rel="stylesheet" href="css/main.min.css")
        title Lorem
    body
        .main
            .container
                .top
                    .top__contents
                        .top__left
                            .top__button
                                button.top__button--blue Lorem ipsum dolor sit amet
                            .top__under-button
                                .zigzag.top__zigzag
                                .top__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                .zigzag.top__zigzag
                        .top__right
                            .top__right-container
                                .top__right-text
                                    h4.top__right-header Lorem ipsum
                                    p.top__right-desription Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent aliquam, justo convallis luctus rutrum, erat nulla fermentum diam, at nonummy quam ante ac quam. Maecenas urna purus, fermentum id, molestie in, commodo porttitor, felis. Nam blandit quam ut lacus. varius eget, tincidunt nec, suscipit id, libero.
                    .top__rating
                        .top__rating-top
                            .top__rate.top__rate--red
                            .top__rate.top__rate--green
                            .top__rate.top__rate--yellow
                        .top__rating-bottom
                            .top__heart
                            .top__circle.top__circle--green &#10003;
                            .top__circle.top__circle--yellow &#8212;
                        .zigzag.top__rating-zigzag
                .bottom
                    .bottom__barcode: img.bottom__barcode-img(src="images/barcode.png")
                    .bottom__center
                        p.bottom__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent aliquam, justo convallis luctus rutrum, erat nulla fermentum diam, at nonummy quam ante ac quam. Maecenas urna purus, fermentum id, molestie in, commodo porttitor, felis. Nam blandit quam ut lacus. Quisque ornare risus quis ligula. Phasellus tristique purus a augue condimentum adipiscing. Aenean sagittis. Etiam leo pede, rhoncus venenatis, tristique in, vulputate at, odio. Donec et ipsum et sapien vehicula nonummy. Suspendisse potenti. Fusce varius urna id quam. Sed neque mi, varius eget, tincidunt nec, suscipit id, libero. In eget purus. Vestibulum ut nisl. Donec eu mi sed turpis feugiat feugiat. Integer turpis arcu, pellentesque eget, cursus et, fermentum ut, sapien. Fusce metus mi, eleifend sollicitudin, molestie id, varius et, nibh. Donec nec libero.
                        .zigzag.bottom__zigzag
                    .bottom__qrcode: img.bottom__qrcode-img(src="images/qrcode.png")